.btn_fat_free {
    display: block;
    width: 150px;
    padding: 15px 40px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: green;
    border: none;
    border-radius: 5px;
    box-shadow: 
      7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}
/* Adding styles on 'active' state */
  
.btn_fat_free:active {
    box-shadow: 
      7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(4px);
    /* Moving button 4px to y-axis */
}

.lk {
  text-align: center;
}

.op {
  text-align: center;
}

